@{
    ViewBag.Title = "Home Page";
}



<div>
    <div class="form-group">
        <fieldset class="the-fieldset">
            <legend class="the-legend"> Home</legend>
            <div style="text-align: center">
                <h1>University Course And Result Management System</h1>
                <h3>Developer Team : DOT NET LEARNER</h3>
            </div>
        </fieldset>


    </div>
</div>
<div>
    <div id="member-introduction">
        <hr />
        <div class="intrdce" >
            <p><b>Md. Arif Hossain</b></p>
            <p>CSE</p>
            <p>AUIB</p>
        </div>
        <div class="intrdce">
            <p><b>Md. Tofayel Ahmed</b></p>
            <p>Mathematics</p>
            <p>National University</p>
        </div>
        <div class="intrdce">
            <p><b>Md. Rakib Hasan</b></p>
            <p>Management</p>
            <p>National University</p>
        </div>
        <div class="intrdce">
            <p><b>Md. Mahfuzur Rahman </b></p>
            <p>CSE</p>
            <p>CUET</p>
        </div>

    </div>
</div>
